body{
    background-color: blueviolet;
}
h1{
    color: aqua;
    font-family: impact;
    background-color: rgb(247, 247, 6);
}
p{
    color: pink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: greenyellow;
    font-size: 80px;

}