body{
    background-color: rgba(106, 199, 232, 0.379);
}
h1{
    color: rgb(15, 30, 105);
    font-family: impact;
    background-color: rgb(244, 244, 244);
    text-align: center;
}
p{
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    font-size: 25px;
    text-align: center;

}
#at{
    background-color: rgba(255, 0, 0, 0.531);
}